<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<% include partials/script %>

<table id="relation">
    <tr>
      <th>ID</th>
      <th>Nom de relation</th>
    </tr>
    <tr>
        <td>6</td>
        <td>isA</td>
    </tr>
    <tr>
        <td>9</td>
        <td>has_part</td>
    </tr>
    <tr>
        <td>13</td>
        <td>agent</td>
    </tr>
    <tr>
        <td>14</td>
        <td>patient</td>
    </tr>
    <tr>
        <td>15</td>
        <td>lieu</td>
    </tr>
    <tr>
        <td>17</td>
        <td>caracteristique</td>
    </tr>
    <tr>
        <td>41</td>
        <td>conseq</td>
    </tr>
    <tr>
        <td>42</td>
        <td>causatif</td>
    </tr>
</table>
<% if (url == "relations") { %> 
    <% include relations %>
<% } %>
<% if (url == "transition") { %> 
    <% include graphe_transition %>
<% } %>
<% if (url == "deduction") { %> 
    <% include graphe_deduction %>
<% } %>
<% if (url == "abduction") { %> 
    <% include graphe_abduction %>
<% } %>
<% if (url == "induction") { %> 
    <% include graphe_induction %>
<% } %>
</body>



</html>


