<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">ERROR!404</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home" ><a  href="/">Accueil</a></li>
          <li id="transition"><a  href="/graphe_transition">Triangle Transition</a></li>
          <li id="deduction"><a  href="/graphe_deduction">Deduction</a></li>
          <li id="induction"><a  href="/graphe_induction">Induction</a></li>
          <li id="abduction"><a  href="/graphe_abduction">Abduction</a></li>
        </ul>
      </div>
    </div>
  </nav>