body{
    text-align: center;
}

.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.active>a {
  color: #1abc9c !important;;
}

/*--------- tableau relation -------------- */
#relation {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom : 15px;
}
  
#relation td, #relation th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#relation tr:nth-child(even){background-color: #f2f2f2;}
  
#relation tr:hover {background-color: #ddd;}
  
#relation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/* tableau transition */
#relation th.id {
    width: 5%;
}

#relation th.node {
    width: 12%;
}

#relation th.relation {
    width: 5%;
}

#relation th.action {
    width: 10%;
}
